<div class="flex flex-col md:flex-row">
  <div class="md:w-[60%] w-[100%] overflow-auto p-4">
    <h1 class="text-center text-white mt-2 underline decoration-red-700">Tabla paginada de Pokemons con búsqueda</h1>

    <div class="relative pb-2">
      <input type="text" (input)="setFilterAndSearch(txtBuscar.value)"
        class="w-full px-4 py-2 rounded-l focus:outline-none focus:ring focus:border-blue-300"
        placeholder="Escribe el nombre del pokemón a buscar" #txtBuscar />
    </div>


    <table class="table-auto w-full border-collapse border border-red-500">
      <thead>
        <tr class="bg-red-500">
          <th class="w-2/3 px-4 py-2 border border-red-800 text-white">Nombre Pokémon</th>
          <th class="w-1/3 px-4 py-2 border border-red-800 text-white">Marcar como favorito</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of filteredPokemons" class="bg-orange-200">
          <td (click)="onPokemonClicked(pokemon)"
            class="hover:font-bold px-4 py-2 border border-red-800 cursor-pointer">{{ pokemon.name }}</td>
          <td (click)="toggleFavorite(pokemon)" class="px-4 py-2 border border-red-800 cursor-pointer">
            <span class="flex justify-center items-center">
              <i [style.color]="pokemon.isFavorite ? 'red' : 'white'" class="fas fa-heart"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>



    <div class="flex flex-col items-center mt-2 xs:mt-0">
      <div class="flex items-center justify-between w-full">
        <button (click)="previousPage()"
          class="flex items-center px-3 h-8 text-sm font-medium text-white bg-red-500 rounded-l hover:bg-red-600 dark:bg-red-700 dark:border-red-700 dark:text-red-300 dark:hover:bg-red-800 dark:hover:text-white">
          <svg class="w-3.5 h-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 5H1m0 0 4 4M1 5l4-4" />
          </svg>
          Anterior
        </button>
        <button (click)="changePage(offset + limit)"
          class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-red-500 border-0 border-l border-red-700 rounded-r hover:bg-red-600 dark:bg-red-700 dark:border-red-700 dark:text-red-300 dark:hover:bg-red-800 dark:hover:text-white">
          Siguiente
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </button>
      </div>
    </div>



    <h1 class="underline text-white text-center  decoration-red-700">Conteo de Pokémon por letra inicial</h1>
    <table class="table-auto w-full border-collapse border border-red-500 mt-4">
      <thead>
        <tr class="bg-red-500">
          <th class="w-0.5 px-4 py-2 border border-red-800 text-white">Letra</th>
          <th class="w-0.5 px-4 py-2 border border-red-800 text-white">Cantidad de Pokémon's</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of sortedResults" class="bg-orange-200">
          <td class="text-center hover:font-bold px-4 py-2 border border-red-800 cursor-pointer">{{ result[0] }}</td>
          <td class="text-right px-4 py-2 border border-red-800">{{ result[1] }}</td>
        </tr>
      </tbody>
    </table>



  </div>

  <div class="md:w-[35%] w-[100%] md:mt-[160px] mt-[20px] order-first md:order-last">
    <app-pokemon-details></app-pokemon-details>
  </div>
</div>