.bg-poke {
    background-image: url('/assets/img/bg-poke.jpg');
    background-size: cover;

}

.container {
    width: 100%;
    height: calc(100vh - 200px);
    max-width: none;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #F6830F;
    border-radius: 5px;
  }