<ng-container *ngIf="!selectedPokemon; else pokemonDetails">
  <p class="text-white text-[25px] m-2 p-4">Click a el nombre de un pokemón para ver sus detalles</p>
</ng-container>

<ng-template #pokemonDetails>
  <div [ngClass]="getPokemonColorClass(selectedPokemon.types[0]?.type.name)" 
    class="shadow-md rounded-lg p-2 mx-4 md:mx-0" *ngIf="selectedPokemon">
    <div class="flex justify-center">
      <img [src]="selectedPokemon.sprites?.other?.dream_world?.front_default" alt="Pokemon"
        class="w-[180px] md:w-[300px] h-auto object-contain mb-4">
    </div>

    <h2 class="text-[40px] font-bold  text-center">{{ selectedPokemon.name | uppercase }}</h2>

    <div class="flex justify-center items-center mb-2">
      <ng-container *ngFor="let type of selectedPokemon.types">
        <span class="text-sm font-medium mr-2 px-2.5 py-0.5 rounded-full"
          [ngClass]="getPokemonTypeClass(type?.type.name)">
          {{ type?.type.name }}
        </span>
      </ng-container>
    </div>

    <p class="text-black font-bold text-center pt-2 text-sm">Experiencia: {{ selectedPokemon.base_experience }} EXP | Altura: {{
      selectedPokemon.height }} m. | Peso: {{ selectedPokemon.weight }} Kg.</p>
    
  </div>
</ng-template>
